 <%= form_for(:session, url: log_in_path) do |f| %>
  <div class="container">
   <div class="jumbotron">
    <button id="Log in" type="submit" class="btn btn-default btn-lg" role="button"> <%= link_to 'Welcome', new_user_session_path %></button>
 </div>
<% end %>